.card {
  display: flex;
  flex-direction: column;
  background-color: transparent;

  .image-wrapper img {
    aspect-ratio: 1;
    object-fit: cover;
  }

  h3 {
    margin: 0.5rem 0;
    font-size: 1.1rem;

    a {
      color: black;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      font-family: monospace;
      font-size: 0.7rem;
      border: solid 1px var(--blue-1);
      background-color: var(--gray-1);
      padding: 0.2rem 0.3rem;
      margin: 0.2rem 0.3rem 0.2rem 0;
      border-radius: 0.25rem;
    }

    .tag:hover {
      border: solid 1px var(--blue-4);
      background-color: #fff;
      color: #000;
      cursor: pointer;
    }
  }

  .links {
    .button {
      background-color: var(--gray-05);
      color: var(--gray-8);
      font-weight: 550;
      border-color: var(--gray-4);
      margin-right: 0.25rem;
    }

    .button:hover {
      border-color: var(--gray-6);
    }

    .button:active {
      border-color: black;
    }

    .button:last-child {
      margin: 0;
    }
  }
}

.card.project-card {
  .proj-desc {
    time {
      font-weight: 600;
    }

    h3 {
      line-height: 1.15;
      font-size: 1.3rem;
      font-weight: 400;
      margin: 0.2rem 0;
    }

    p {
      line-height: 1.2;
      font-size: 0.9rem;
    }
  }
}
