@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@300;350;400;450;500;550;600;650;700&family=Open+Sans:wght@400;450;500;550;600;650;700&display=swap");

:root {
  /* colors */
  --gray-0: rgb(248, 249, 250);
  --gray-05: rgb(243, 246, 249);
  --gray-1: rgb(241, 243, 245);
  --gray-2: rgb(233, 236, 239);
  --gray-25: rgb(229, 234, 240);
  --gray-3: rgb(222, 226, 230);
  --gray-4: rgb(207, 212, 217);
  --gray-45: rgb(195, 202, 209);
  --gray-5: rgb(173, 181, 189);
  --gray-6: rgb(134, 142, 150);
  --gray-65: rgb(90, 100, 108);
  --gray-7: rgb(75, 80, 86);
  --gray-8: rgb(49, 54, 59);
  --gray-9: rgb(33, 37, 41);
  --gray-10: rgb(22, 25, 28);
  --green: rgb(81, 182, 129);
  --green-1: rgb(149, 205, 127);
  --green-2: rgb(115, 177, 138);
  --green-3: rgb(77, 137, 148);
  --green-4: rgb(48, 97, 157);
  --green-5: rgb(48, 55, 157);
  --red: rgb(243, 70, 70);
  --red-1: rgb(239, 207, 74);
  --red-2: rgb(224, 169, 68);
  --red-3: rgb(211, 125, 54);
  --red-4: rgb(205, 88, 60);
  --red-5: rgb(171, 46, 63);
  --blue: rgb(7, 167, 230);
  --blue-1: rgb(112, 189, 238);
  --blue-2: rgb(97, 139, 225);
  --blue-3: rgb(91, 94, 213);
  --blue-4: rgb(98, 58, 198);
  --blue-5: rgb(88, 17, 159);
  --rainbow-1: rgb(218, 102, 183);
  --rainbow-2: rgb(117, 73, 240);
  --rainbow-3: rgb(73, 137, 198);
  --rainbow-4: rgb(114, 191, 141);
  --rainbow-5: rgb(244, 201, 80);
  --orange: rgb(255, 126, 34);
  --yellow: rgb(252, 166, 42);
  --pink: rgb(232, 85, 179);
  --purple: rgb(98, 58, 198);
  --indigo: rgb(90, 67, 241);
  --indigo-dark: rgb(69, 9, 207);
  --indigo-light: rgb(150, 155, 245);
  --indigo-muted: rgb(241, 242, 253);
  --color-neutral-muted: rgba(175, 184, 193, 0.2);

  --font-family-monospace: "IBM Plex Mono", monospace;
  --inline-code-background-color: rgba(175, 184, 193, 0.2);

  --gray-2-grad: 233, 236, 239;
  --gray-3-grad: 222, 226, 230;

  --nav-height: 3rem;
  /* nav bar height */
  --main-header-height: 10rem;
  /* first heading of the page */
  --greet-height: 530px;

  --main-offset: var(--nav-height);
  --page-offset: calc(var(--main-offset) + var(--main-header-height));

  --mobile-ctnr-side-padding: 1.5rem;

  scroll-padding-top: calc(var(--main-offset) + 0.8rem);

  /*********** light theme **************/
  --app-bg-color: var(--gray-2);
  --app-box-shadow: 0 0 8px 1px var(--gray-4);
  --page-bg-color: var(--gray-05);
  --heading-color: var(--gray-9);

  --font-color-base: rgb(58, 63, 68);
  --font-color-muted: var(--gray-65);
  --link-color: #3e54cf;
  --footer-link-hover-color: var(--rainbow-2);
  --time-color: var(--gray-7);

  --btn-color: var(--gray-7);
  --btn-border: 2px solid var(--gray-5);
  --btn-hover-border: 2px solid var(--gray-6);
  --btn-active-border: 2px solid black;

  --app-nav-bar-bg-color: var(--gray-3);
  --app-nav-color: var(--gray-65);
  --app-nav-active-color: var(--gray-10);
  --app-nav-active-color: var(--green-3);
  --app-nav-active-dash-color: rgb(151 192 199);
  --app-nav-dash-border-color: var(--app-nav-color);

  --me-box-shadow: -10px 5px 15px var(--gray-5), 10px -5px 15px #ffffff;

  --scroll-bar-bg: var(--gray-3);
  --scroll-bar-thumb: var(--gray-45);

  --brand-dark: url(../assets/ct-dark.svg);
  --brand-light: url(../assets/ct-light.svg)

  --hero-bg-graphic: var(--brand-light);
  --skills-category-btn-color: var(--gray-6);
  --skills-category-btn-active-color: var(--gray-8);
  --skills-category-btn-hover-color: var(--blue-3);
  --skills-category-btn-border-color: var(--gray-4);
  --skills-category-btn-active-border-color: var(--blue-4);
  --skills-category-btn-active-bg: var(--gray-3);

  --home-post-bg: var(--gray-25);

  --resume-box-shadow: 0 0 2px rgb(255 255 255),
    0 4px 12px -4px rgb(0 0 0 / 30%);

  --posts-year-heading: rgb(121 154 77);
  --tag-bg: var(--gray-05);
  --tag-active-bg: #fff;
  --tag-color: var(--gray-7);
  --tag-hover-color: var(--blue-4);
  --tag-border-color: var(--gray-4);
  --tag-hover-border-color: var(--blue-4);
  --tag-active-border-color: var(--blue-4);
  --tag-active-color: var(--blue-4);

  --contact-input-bg: var(--gray-3);
  --contact-input-color: var(--gray-10);
  --contact-input-focus-bg: #fff;
  --contact-input-focus-border-color: var(--green-5);
  --contact-button-color: var(--gray-10);
  --contact-button-bg: #c4c4c4;
  --contact-button-focus-bg: #b3b3b3;
  --contact-button-hover-bg: #b8b8b8;
  --contact-button-active-bg: #c0c0c0;
  --contact-button-active-box-shadow: 0 4px 12px -6px #00000078;

  --blog-blockquote-color: var(--font-color-muted);
  --blog-blockquote-border-color: var(--gray-6);
  --blog-toc-a-color: var(--gray-7);
  --blog-toc-a-active-color: var(--blue-5);

  --link-btn-bg: var(--gray-05);
  --link-btn-color: var(--gray-8);
  --link-btn-border-color: var(--gray-4);
  --link-btn-hover-border-color: var(--gray-6);
  --link-btn-active-border-color: #000;
}

/* reset font boosting on mobile browsers */
html * {
  max-height: 1000000px;
  text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
}

@media screen and (min-width: 550px) {
  body {
    overflow: auto !important;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

/* For disabling that outline around input boxes */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* For disabling that blue highlight on links */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

// scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--scroll-bar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb);
  border-radius: 2px;
}

// .layout-main {
//   ::-webkit-scrollbar {
//     background: var(--gray-4);
//   }

//   ::-webkit-scrollbar-thumb {
//     background: var(--gray-2);
//   }
// }

body {
  font-family: "Inter", sans-serif;
  background-color: var(--app-bg-color);
  color: var(--font-color-base);
}

#___gatsby {
  max-width: 1440px;
  margin: auto;
  box-shadow: var(--app-box-shadow);
}

p,
li {
  letter-spacing: -0.01rem;
  font-size: 1rem;
  line-height: 1.6;
}

@media screen and (max-width: 710px) {
  p,
  li {
    font-size: 0.95rem;
  }
}

p {
  margin: 0.5rem 0;
}

ul,
ol {
  padding-left: 1.5rem;
}

li {
  padding-left: 0.25rem;
  margin-bottom: 0.2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.03rem;
  font-weight: 600;
  color: var(--heading-color);
}

h1 {
  font-size: 2.8rem;
  margin: 0 0 1.2rem;
}

h2 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem 0 0.4rem;
}

h4 {
  font-size: 1rem;
  margin: 0.8rem 0 0.2rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  a {
    // color: black;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}

time {
  font-family: monospace;
  font-size: 0.75rem;
  color: var(--time-color);
}

.button {
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  // border: 2px solid var(--gray-5);
  border: var(--btn-border);
  background-color: transparent;
  // color: var(--gray-7);
  color: var(--btn-color);
  border-radius: 0.25rem;
  height: fit-content;
}

.button:hover {
  // border: 2px solid var(--gray-6);
  border: var(--btn-hover-border);
  text-decoration: none;
}

.button:active {
  // border: 2px solid black;
  border: var(--btn-active-border);
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.card.anchored {
  position: relative;
  padding-bottom: 3rem;
}

.links.anchored {
  position: absolute;
  bottom: 1rem;
}

/********** Navigation **********/

.nav-component {
  position: sticky;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 450;
  // background-color: var(--gray-9);
  background-color: var(--app-nav-bar-bg-color);
  top: 0;

  /* Nav bar on top */
  #nav-bar {
    top: 0;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    height: var(--nav-height);
    color: var(--app-nav-color);

    .logo {
      display: none;
      margin-left: 0.8rem;
      font-weight: 800;
      letter-spacing: -0.04ch;
      z-index: 9999999;
      user-select: none;
      color: inherit;

      a {
        color: inherit;
        transition: 0.3s all ease-out;
        position: relative;
        font-size: 1.6rem;
        line-height: 0.85;
        #logoDash {
          transform: translateX(0.3ch);
          display: inline-block;
          position: absolute;
          transition: 0.3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
      a:hover {
        text-decoration: none;
      }
      a:active {
        // color: rgb(108, 202, 89);
        color: var(--app-nav-active-color);
        #logoDash {
          transform: translateX(0.4ch);
        }
      }
      a.active {
        // color: rgb(141, 218, 126);
        color: var(--app-nav-active-color);
        #logoDash {
          transform: translateX(-0.3ch);
        }
      }

      @media screen and (max-width: 550px) {
        display: block;
      }
    }
  }

  /* Nav items within nav bar */
  #nav-colapse-items {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0 0 0 2rem;
      padding: 0;
      font-size: 1rem;
    }

    li:first-child {
      margin-left: 0;
    }
  }

  #nav-colapse-items,
  #nav-exp-items {
    li {
      position: relative;
      padding: 0;
      width: fit-content;
      letter-spacing: -0.04ch;
      text-transform: uppercase;
      font-weight: 600;

      a {
        // color: var(--gray-4);
        color: var(--app-nav-color);
      }
      a:hover {
        text-decoration: none;
      }
      a:after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        transform-origin: left;
        height: 4px;
        opacity: 0;
        // background-color: var(--gray-4);
        color: inherit;
        background-color: currentColor;
        // border-bottom: solid 1px rgb(45, 78, 39);
        border-bottom: solid 1px var(--app-nav-dash-border-color);
        transition: 0.3s all ease-out;
        pointer-events: none;
      }
      a:hover:after {
        opacity: 1;
      }
      a.active {
        color: var(--app-nav-active-color);
      }
      a.active:after {
        opacity: 1;
        bottom: calc(50% - 2px);
        // background-color: rgb(141, 218, 126);
        background-color: var(--app-nav-active-dash-color);
      }
    }
  }

  /* Nav items within expanded nav */
  #nav-exp-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    // background-color: var(--gray-9);
    background-color: var(--app-nav-bar-bg-color);
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    padding-top: var(--main-offset);
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.3s ease;

    ul {
      padding-left: 1rem;
      padding-top: 2rem;
    }

    li {
      list-style-type: none;
      font-size: 3.6rem;
      line-height: 1.2;
      margin-bottom: 1.2rem;
      letter-spacing: -0.04ch;
      text-transform: uppercase;
      font-weight: 600;

      a:after {
        height: 8px;
      }
    }

    transition: clip-path 0.3s ease 0.3s;

    .nav-footer {
      padding: 1rem;
      font-size: 1rem;
      text-align: center;
      color: var(--font-color-muted);

      p {
        text-align: left;
      }
    }
  }

  button.menu {
    display: none;
    margin-right: 0.8rem;
    border: none;
    background-color: transparent;
    letter-spacing: -0.04ch;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    // color: var(--gray-4);
    color: var(--app-nav-color);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 9999999;

    .menu-label {
      visibility: hidden;
    }
  }
  button.menu:before,
  button.menu:after {
    position: absolute;
    display: block;
    padding: inherit;
    right: 0;
    line-height: 1;
    transition: all 0.2s ease-out;
  }
  button.menu::before {
    content: "menu";
    bottom: 0;
  }
  button.menu:after {
    content: "close";
    bottom: -100%;
  }
  button.menu.open {
    &::before {
      bottom: 100%;
    }
    &::after {
      bottom: 0;
    }
  }

  #nav-exp-items.expand {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.3s ease;
  }

  @media screen and (max-width: 550px) {
    #nav-colapse-items {
      display: none;
    }

    button.menu {
      display: block;
    }
  }

  @media screen and (min-width: 550px) {
    #nav-exp-items {
      display: none;
    }
  }
}

.hidden {
  display: none;
}

/* Footer */
.footer-component {
  padding: 1.2rem;
  background-color: transparent;
  color: var(--font-color-muted);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;

    a {
      color: inherit;
    }

    a:hover {
      color: var(--footer-link-hover-color);
      text-decoration: none;
      border-bottom: solid 1px;
    }
  }
}

/********* Greet div *********/

.me-component {
  background-color: transparent;
  padding: 1.5rem 2rem 1rem;
  text-align: center;
  font-size: 0.95rem;
  color: var(--font-color-base);

  /* Profile picture */
  .pp {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    max-width: 175px;
    max-height: 175px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: var(--me-box-shadow);
  }

  h1.profile-name {
    color: var(--heading-color);
    margin: 1rem 0 0.8rem;
    font-size: 1.6rem;
    line-height: 1.05;
  }

  .social {
    margin: 0 0 0.8rem;
    display: flex;
    justify-content: center;

    a svg {
      // fill: var(--gray-4);
      color: var(--font-color-muted);
      fill: currentColor;
      width: 1.5em;
      height: 1.5em;
      margin: 0px 5px;
    }

    a:active,
    a:hover {
      svg {
        color: var(--font-color-base);
      }
    }
  }

  .bio {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-end;
    // color: var(--gray-3);
    color: inherit;
    margin: 0 0 0.8rem;
    line-height: 1.2;
    font-size: 0.9rem;

    .icon {
      font-family: sans-serif;
      line-height: 1.25rem;
      font-size: 1.25rem;

      &.night {
        font-size: 1.1rem;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Main */
.layout-main {
  padding-bottom: 1px;
  background-color: var(--page-bg-color);
  min-height: calc(100vh - (317px + var(--main-offset) + 40px));
}

/********* Home *********/

/* sections */
.container {
  margin: 1rem 0 3rem;
  padding: 0 2.8rem;
}

.head-container {
  padding: 3.4rem 2.8rem 1rem;

  h1 {
    line-height: 1.15;
    font-weight: 650;
    margin: 0;
  }
}

/* hero section */
header.hero {
  // background: no-repeat url(../assets/hero.svg),
  //   linear-gradient(
  //     180deg,
  //     rgba(var(--gray-3-grad), 1) 0%,
  //     rgba(var(--gray-3-grad), 0.75) 50%,
  //     rgba(var(--gray-3-grad), 0.5) 75%,
  //     rgba(var(--gray-3-grad), 0) 95%,
  //     rgba(var(--gray-3-grad), 0) 100%
  //   );
  background: no-repeat var(--hero-bg-graphic);
  background-size: contain;
  background-position: right top;
}

p.hero-description {
  margin: 1.5rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--font-color-muted);
}

/* headings */
.section-heading {
  display: flex;
  justify-content: space-between;

  h2 {
    margin-bottom: 1.2rem;
  }
}

/* picture grid */
.image {
  border-radius: 0.2rem;
  max-width: 150px;
  max-height: 150px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

/* Skills */
.skills-section {
  display: flex;
  flex-direction: row;
}

.category {
  min-width: 12rem;
}

@media screen and (max-width: 1150px) {
  .category {
    min-width: auto;
  }
}

.category {
  padding: 0;
  list-style-type: none;
}

.category li {
  margin: 0;
  padding: 0;
}

.category li button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.6;
  padding: 0.5rem 1rem;
  margin: 0;
  // color: var(--gray-6);
  color: var(--skills-category-btn-color);
  text-align: right;
  // border-right: 3px solid var(--gray-4);
  border-right: 3px solid var(--skills-category-btn-border-color);
}

.category li button:hover {
  cursor: pointer;
  // color: var(--blue-3);
  color: var(--skills-category-btn-hover-color);
}

.category li button.active {
  // color: var(--gray-8);
  color: var(--skills-category-btn-active-color);
  // background-color: var(--gray-3);
  background-color: var(--skills-category-btn-active-bg);
  // border-right: 3px solid var(--blue-4);
  border-right: 3px solid var(--skills-category-btn-active-border-color);
}

.skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-evenly;
  justify-content: space-around;
  padding: 0.8rem 1.5rem;
}

.skill {
  width: 8.5rem;
  margin: 0 1.5rem 0.5rem 0;
  line-height: 2.2;
  text-align: left;
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--heading-color);
}

.skill > img {
  vertical-align: middle;
  height: 36px;
  width: 36px;
}

@media screen and (max-width: 1140px) and (min-width: 925px) {
  .skill {
    width: fit-content;
    margin: 0 1rem 0.5rem 0;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 710px) {
  .skill {
    width: fit-content;
    margin: 0 1rem 0.5rem 0;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 710px) {
  .category-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.8rem;
    overflow-y: hidden;
  }

  .category {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;

    height: fit-content;
    position: absolute;
    padding-bottom: 1.2rem;
    width: 100%;
    left: 0;
    overflow-x: auto;
    box-sizing: content-box;

    // TODO THEME
    mask-image: -webkit-linear-gradient(
      to right,
      transparent,
      white 16px,
      white 90%,
      transparent
    );
    mask-image: -moz-linear-gradient(
      to right,
      transparent,
      white 16px,
      white 90%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      white 16px,
      white 90%,
      transparent
    );
    -webkit-mask-image: -webkit-linear-gradient(
      to right,
      transparent,
      white 16px,
      white 90%,
      transparent
    );
    -webkit-mask-image: -moz-linear-gradient(
      to right,
      transparent,
      white 16px,
      white 90%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      white 16px,
      white 90%,
      transparent
    );

    li:first-child {
      margin-left: var(--mobile-ctnr-side-padding);
    }

    li:last-child {
      margin-right: var(--mobile-ctnr-side-padding);
    }

    li {
      button {
        border-right: none;
        border-bottom: 2px solid var(--skills-category-btn-border-color);
        min-width: fit-content;
        text-align: left;
        white-space: pre;
      }

      button.active {
        border-right: none;
        border-bottom: 2px solid var(--skills-category-btn-active-border-color);
      }
    }
  }

  .skills-section {
    flex-direction: column;
  }

  .skills {
    padding: 4rem 0.5rem 1rem;

    .skill {
      width: 7.1rem;
      font-size: 0.9rem;
    }
  }
}

/* Posts in home */
.home-posts {
  .card {
    background-color: var(--home-post-bg);
    padding: 1.5rem;
    border-radius: 0.25rem;
  }
}

/****** Mobile screens ********/
@media screen and (max-width: 710px) {
  .container {
    margin: 1rem 0 2rem;
    padding: 0 var(--mobile-ctnr-side-padding);
  }

  .head-container {
    padding: 2rem var(--mobile-ctnr-side-padding) 0.8rem;
  }

  p.hero-description {
    font-size: 1.1rem;
    margin: 1rem 0;
  }

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;
  }
}

/********* Featured projects ********/

/* Resume */
.resume .image-wrapper img {
  max-width: 1200px;
  // mix-blend-mode: multiply;
  box-shadow: var(--resume-box-shadow);
}

/* Todo */
div#todo {
  width: 30%;
  min-width: 256px;
  margin: auto;

  img {
    width: 100%;
  }
}

/* Grid layout */

@supports (display: grid) {
  .layout-component {
    @media screen and (min-width: 1080px) {
      display: grid;
      grid-template-areas:
        "nl0 nv"
        "grt mn"
        "ftr mn"
        "nl1 mn";
      grid-template-columns: minmax(21rem, 1fr) minmax(0, 4fr);
      grid-template-rows:
        var(--main-offset) 530px calc(
          100vh - var(--main-offset) - var(--greet-height)
        )
        auto;

      .layout-main {
        --main-min-height: calc(100vh - var(--main-offset));
        grid-area: mn;
        min-height: var(--main-min-height);
        scroll-behavior: smooth;
      }

      .me-component {
        position: sticky;
        top: var(--nav-height);
        grid-area: grt;
        vertical-align: bottom;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .pp {
          max-width: 200px;
          max-height: 200px;
        }

        h1.profile-name {
          font-size: 1.8rem;
          margin: 1rem 0 1.5rem;
        }
      }

      .nav-component {
        grid-area: nv;
      }

      .footer-component {
        --footer-height: 6rem;
        --footer-offset: max(
          calc(100vh - var(--footer-height)),
          calc(var(--main-offset) + var(--greet-height))
        );
        position: sticky;
        top: var(--footer-offset);
        height: var(--footer-height);
        grid-area: ftr;
        align-self: end;
      }
    }

    /* Featured Projects */
    .home-projects {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
      gap: 1.5rem 1rem;

      @media screen and (max-width: 1440px) {
        .card .image-wrapper img {
          aspect-ratio: 3 / 2;
        }
      }

      @media screen and (max-width: 500px) {
        .card .image-wrapper img {
          aspect-ratio: 2 / 1;
        }
      }
    }

    /* What's new posts */
    .home-posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.8rem;
    }

    @media screen and (max-width: 1130px) and (min-width: 925px) {
      .home-posts {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media screen and (max-width: 750px) {
      .home-posts {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media screen and (max-width: 550px) {
      .home-posts {
        grid-template-columns: 1fr;
      }
    }
  }

  /* images under Interests */
  .images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.2rem;
  }

  @media screen and (max-width: 1440px) and (min-width: 1000px) {
    .images {
      grid-template-columns: repeat(7, 1fr);

      div:nth-child(n + 15) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1000px) and (min-width: 925px) {
    .images {
      grid-template-columns: repeat(6, 1fr);

      div:nth-child(n + 13) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 925px) and (min-width: 710px) {
    .images {
      grid-template-columns: repeat(6, 1fr);

      div:nth-child(n + 13) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 710px) {
    .images {
      grid-template-columns: repeat(5, 1fr);

      div:nth-child(n + 6) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .images {
      grid-template-columns: repeat(4, 1fr);

      div:nth-child(n + 5) {
        display: none;
      }
    }
  }
}

// cards
.card {
  display: flex;
  flex-direction: column;
  background-color: transparent;

  .image-wrapper img {
    aspect-ratio: 1;
    object-fit: cover;
  }

  h3 {
    margin: 0.5rem 0;
    font-size: 1.1rem;

    a:hover {
      text-decoration: underline;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      font-family: monospace;
      font-size: 0.7rem;
      // border: solid 1px var(--blue-1);
      border: solid 1px var(--tag-border-color);
      // background-color: var(--gray-1);
      background-color: var(--tag-bg);
      padding: 0.2rem 0.3rem;
      margin: 0.2rem 0.3rem 0.2rem 0;
      border-radius: 0.25rem;
    }

    .tag:hover {
      // border: solid 1px var(--blue-4);
      border: solid 1px var(--tag-hover-border-color);
      // background-color: #fff;
      background-color: var(--tag-active-bg);
      // color: #000;
      color: var(--tag-hover-color);
      cursor: pointer;
    }
  }

  .links {
    .button {
      background-color: var(--link-btn-bg);
      color: var(--link-btn-color);
      font-weight: 550;
      border-color: var(--link-btn-border-color);
      margin-right: 0.25rem;
    }

    .button:hover {
      border-color: var(--link-btn-hover-border-color);
    }

    .button:active {
      border-color: var(--link-btn-active-border-color);
    }

    .button:last-child {
      margin: 0;
    }
  }
}

.card.project-card {
  .proj-desc {
    time {
      font-weight: 600;
    }

    h3 {
      line-height: 1.15;
      font-size: 1.3rem;
      font-weight: 400;
      margin: 0.2rem 0;
    }

    p {
      line-height: 1.2;
      font-size: 0.9rem;
    }
  }
}

@supports not (display: grid) {
  #nav-colapse-items {
    width: fit-content;
    margin: auto;
  }

  .layout-main {
    width: 70%;
    margin: auto;
  }

  @media screen and (max-width: 925px) {
    .layout-main {
      width: 100%;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .home-posts,
  .home-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
  }

  .home-posts .card {
    width: 15rem;
  }

  .home-projects .card {
    width: 200px;
  }
}

.posts-component {
  h2.year {
    font-weight: 700;
    font-size: 1.9rem;
    color: var(--posts-year-heading);
  }

  .tags-filter {
    .tags {
      display: flex;
      flex-wrap: wrap;

      .tag {
        font-family: monospace;
        font-size: 0.75rem;
        border: solid 2px var(--tag-border-color);
        background-color: var(--tag-bg);
        color: var(--tag-color);
        padding: 0.2rem 0.3rem;
        margin: 0.2rem 0.3rem 0.2rem 0;
        border-radius: 0.25rem;
      }

      .tag:hover {
        border: solid 2px var(--tag-hover-border-color);
        background-color: var(--tag-active-bg);
        color: var(--tag-hover-color);
        cursor: pointer;
      }
      .tag.active {
        border: solid 2px var(--tag-active-border-color);
        background-color: var(--tag-active-bg);
        color: var(--tag-active-color);
      }
    }
  }

  .posts > a {
    display: flex;
    justify-content: space-between;
    color: inherit;
    align-items: baseline;

    h3 {
      margin: 0.3rem 0;
      line-height: 1.3;
    }

    time {
      font-family: monospace;
      font-size: 0.8rem;
      min-width: 5rem;
      direction: rtl;
    }
  }
}

/*********** Contact ***********/
.contact-component {
  form.form-control {
    width: 100%;
    max-width: 800px;

    .inp-name {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      div {
        flex: 1;
      }

      div:first-child {
        margin: 0;
        margin-right: 1rem;
      }
    }

    .field-container {
      margin-bottom: 0.8rem;
    }

    input,
    textarea {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9rem;
      line-height: 1.2rem;
      margin-top: 0.35rem;
      padding: 0.45rem 0.75rem;
      border: none;
      color: var(--contact-input-color);
      background-color: var(--contact-input-bg);
      display: block;
      width: 100%;
      border-bottom: 2px solid transparent;
    }

    textarea {
      resize: vertical;
      border: 2px solid transparent;
    }

    input:focus,
    textarea:focus {
      background-color: var(--contact-input-focus-bg);
      border-bottom: 2px solid var(--contact-input-focus-border-color);
    }
    textarea:focus {
      border: 2px solid var(--contact-input-focus-border-color);
    }

    button {
      padding: 0.4rem 0.6rem;
      margin: 0.4rem auto;
      font-size: 1.05rem;
      border-color: transparent;
      color: var(--contact-button-color);
      background-color: var(--contact-button-bg);
      transition: 0.15s ease-out;
    }

    button:focus {
      background-color: var(--contact-button-focus-bg);
    }

    button:hover {
      background-color: var(--contact-button-hover-bg);
    }

    button:active {
      background-color: var(--contact-button-active-bg);
      box-shadow: var(--contact-button-active-box-shadow);
    }

    @media screen and (max-width: 600px) {
      width: 100%;

      .inp-name {
        flex-direction: column;

        div:first-child {
          margin: 0 0 0.8rem;
        }
      }

      textarea,
      input {
        width: 100%;
      }
    }
  }
}

.projects-component {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
    gap: 1.5rem 1rem;

    @media screen and (max-width: 1440px) {
      .card .image-wrapper img {
        aspect-ratio: 3 / 2;
      }
    }

    @media screen and (max-width: 500px) {
      .card .image-wrapper img {
        aspect-ratio: 2 / 1;
      }
    }
  }
}

.blog-component {
  h1:not(:first-child),
  h2:not(:first-child) {
    margin-top: 3rem;
  }

  h3:not(:first-child) {
    margin-top: 2.5rem;
  }

  h4:not(:first-child) {
    margin-top: 2rem;
  }

  h4 {
    text-transform: uppercase;
  }

  section.segment {
    margin-top: 2rem;
  }

  blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 4px solid var(--blog-blockquote-border-color);
    color: var(--blog-blockquote-color);
    p {
      margin: 0;
    }
  }

  main.grid {
    display: grid;
    grid-template-columns: minmax(600px, 1fr) 320px;
    grid-template-areas: "article toc";
    gap: 1rem;

    article.container {
      grid-area: article;

      p {
        text-align: justify;
      }
    }

    aside.container {
      grid-area: toc;
      margin-top: 0;

      .toc-sidebar {
        padding: 1rem 0 0;
        margin-bottom: 1rem;
        position: sticky;
        top: var(--main-offset);

        h2 {
          font-size: 1.25rem;
          letter-spacing: normal;
          font-weight: 500;
          text-transform: uppercase;
        }

        .toc {
          ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0 0 0.75rem 1rem;

            li {
              font-size: 0.833rem;
              padding-left: 0;

              a {
                color: var(--blog-toc-a-color);
                border-bottom: solid 1px transparent;
              }

              a:hover {
                color: var(--blog-toc-a-active-color);
                text-decoration: none;
                border-bottom: solid 1px;
              }

              p.active a {
                color: var(--blog-toc-a-active-color);
              }
            }
          }
        }

        .toc > ul {
          margin: 0.75rem 0 0 0;
        }
      }
    }
  }

  @media screen and (max-width: 1300px) and (min-width: 1080px) {
    main.grid {
      display: block;

      aside.container {
        .toc-sidebar {
          margin-top: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 950px) {
    main.grid {
      display: block;
    }
  }
}
